name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Login to GCR
      uses: docker/login-action@v2
      with:
        registry: gcr.io
        username: terraform@studidevops-369306.iam.gserviceaccount.com
        password: ${{ secrets.GCR }}
    
#     - name: Menampilakan secret
#       run: echo ${{ secrets.DOCKER_HUB_USERNAME }}
#     - name: Login to docker hub
#       uses: docker/login-action@v2
#       with:
#         username: ${{ secrets.DOCKER_HUB_USERNAME }}
#         password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
#     - name: Build and push to docker hub
#       uses: docker/build-push-action@v3
#       with:
#         context: .
#         push: true
#         tags: ${{ secrets.DOCKER_HUB_USERNAME }}/goapp:3
